{{extend 'layout.html'}}
  <div class="row">
        <div class="col-md-3" id="leftCol">                
        <div class="well">
          <img src="{{=URL('static','images/avat2.png')}}" class=" img-responsive ">        
        </div>

          </div>  
          <div class="col-md-9">            
          <h3>Tecnologias</h3>
          <p>Saria utiliza:</p>
          <ul>
              <li>Python</li>
              <li>Arduino</li>
              <li>Rivescript</li>
              <li>Web2py</li>
              <li>jQuery</li>
              <li>Twitter Bootstrap</li>
              <li>meSpeak.js</li>    
              <li>pySerial</li>
          </ul>
          </div> 
    </div>